@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Berlin";
  src: url("../public/fonts/BRLNSR.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Raleway;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
